/* TODO: center image */ 
.photos img {
    margin: 0 auto;
    padding: 1rem 1rem;
}

.photo-categories a img {
    background: transparent;
    border-radius: 20px;
    padding: 10px 15px;
    transition: transform 0.2s ease;
}

.photo-categories a img:hover {
    transform: scale(1.05);
}

/* TODO: add title to cover photos */